[submodule "dependencies/capd"]
	path = dependencies/capd
	url = https://github.com/CAPDgroup/CAPD
[submodule "dependencies/gnuplot"]
	path = dependencies/gnuplot
	url = https://github.com/dstahlke/gnuplot-iostream.git
